=============== 
Unity generated
===============
Temp/
/Library/*
server.dat
*.apk
/_WORKING/autosave/*
iPhoneBuild/
iPhoneBuild/*.*


=====================================
Visual Studio / MonoDevelop generated
=====================================
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
.vs
.vs/*.*
============
OS generated
============
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
APKs/rodeoStampede.apk


*.xml.meta
*.properties.meta
*.bat.meta
*.sh.meta
*.jar.meta
*.exe.meta
*.pem.meta
*.pk8.meta
*.txt.meta
*.java.meta
*.so.meta
*.zip.meta
*.gradle.meta
*.dat.meta
*.ini.meta
*.xls.meta
*.xlsx.meta
*.keystore.meta
*.command.meta
*.dll.meta
*.strings.meta
*.plist.meta
*.x86.meta

Assets/Yodo1SDK/Editor/AndroidAPI/Build/*.meta





